@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

html {
	font-size: 62.5%;
}

body {
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;

	color: #404040;
}

h1 {
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: 700;
}

h2 {
	font-size: 2rem;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

p {
	max-width: 90ch;
}

a {
	font-size: 1.5rem;
	color: #404040;
	text-decoration: none;
	letter-spacing: 0.05rem;
	transition: text-shadow 0.2s;
}

a:hover {
	text-shadow: 0 0 0.7px #404040, 0 0 0.7px #404040;
}

.font-weight-normal {
	font-weight: normal;
}

.page-container {
	padding: 2rem;
	display: flex;
	justify-content: center;
}

/* Nav Bar Styles */

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 1rem;

	border: 1px solid silver;
}

.title {
	cursor: pointer;
}

.nav-bar-links {
	display: flex;
	justify-content: space-between;
	width: 30rem;
	margin-right: 2rem;

	font-size: 1.8rem;
}

.active {
	text-shadow: 0 0 0.7px #404040, 0 0 0.7px #404040;
}

/* Landing Page Styles */

.landing-page {
	display: flex;
	/* justify-content: center; */
	justify-content: space-around;
	flex-wrap: wrap;
}

/* Footer Styles */

.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30rem;

	padding: 1.5rem 3rem;

	display: flex;
	justify-content: space-between;
}

.icon {
	color: #404040;
	transition: color 0.2s;
}

.icon:hover {
	color: #606060;
}
